footer.Footer
  ul.Footer-social
    li.Footer-item: a(href="https://www.linkedin.com/in/alexberneau/" target="_blank"): svg.icon(viewBox="0 0 1 1"): use(xlink:href="assets/icons/sprite.svg#linkedin")
    li.Footer-item: a(href="https://github.com/nothaldir" target="_blank"): svg.icon(viewBox="0 0 1 1"): use(xlink:href="assets/icons/sprite.svg#github")
    li.Footer-item: a(href="https://twitter.com/nothaldir" target="_blank"): svg.icon(viewBox="0 0 1 1"): use(xlink:href="assets/icons/sprite.svg#twitter")
    li.Footer-item: a(href="https://www.instagram.com/nothaldir/?hl=fr" target="_blank"): svg.icon(viewBox="0 0 1 1"): use(xlink:href="assets/icons/sprite.svg#instagram")
    li.Footer-item: a(href="https://www.youtube.com/user/N0Thaldir" target="_blank"): svg.icon(viewBox="0 0 1 1"): use(xlink:href="assets/icons/sprite.svg#youtube")
    li.Footer-item: a(href="https://alex-berneau.tumblr.com/" target="_blank"): svg.icon(viewBox="0 0 1 1"): use(xlink:href="assets/icons/sprite.svg#tumblr")
  .Footer-copyright Copyright (c) 2018 Alex Berneau
