header.Header.waiting.animated
  .Header-content
    img.Logo(src="assets/medias/logo.svg" alt="Alex Berneau's logo")
    nav.Nav
      ul.Nav-list
        li.Nav-item
          a(data-scroll="#home").Nav-link.animate-scroll Home
        li.Nav-item
          a(data-scroll="#about").Nav-link.animate-scroll About
        li.Nav-item
          a(data-scroll="#work").Nav-link.animate-scroll Work
        li.Nav-item
          a(data-scroll="#contact").Nav-link.animate-scroll Contact
