header.Header
  .Logo AB
  nav.Nav
    ul.Nav-list
      li.Nav-item
        a.Nav-link Home
      li.Nav-item
        a.Nav-link About
      li.Nav-item
        a.Nav-link Work
      li.Nav-item
        a.Nav-link Contact
