.Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9rem 0;

  &:nth-child(even) {
    background: $section-color;
  }

  &:nth-child(odd) {
    background: $white;
  }
}
