.Footer {
  background-color: $black;
  color: $white;
  display: flex;
  padding: 8rem 2rem;
  flex-direction: column;
  align-items: center;

  &-social {
    list-style-type: none;
    margin-bottom: 2.5rem;
    display: flex;
  }

  &-item {
    margin: 0 2rem;

    svg.icon {
      fill: $white;
      height: 1.75rem;
    }
  }

  &-copyright {
    font-size: 1.2rem;
    color: $secondary-text-color;
  }
}
