.Header {
  position: fixed;
  z-index: 10;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 9rem;
  box-shadow: 0 .3rem 1rem 0 rgba($black, .16);
  background-color: $white;

  &-content {
    width: 120rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
