extends layout/_base

append config
  - var bodyClass = 'home'

block content
  .Home#home
    .Home-content
      h1.Home-title.type-it  Hi, I'm Alex!<br>I'm a Web Developer.<br>Find out more below :)
      ul.Home-social
        li.Home-item: a(href="https://www.linkedin.com/in/alexberneau/" target="_blank"): svg.icon(viewBox="0 0 1 1"): use(xlink:href="assets/icons/sprite.svg#linkedin")
        li.Home-item: a(href="https://github.com/nothaldir" target="_blank"): svg.icon(viewBox="0 0 1 1"): use(xlink:href="assets/icons/sprite.svg#github")
        li.Home-item: a(href="https://twitter.com/nothaldir" target="_blank"): svg.icon(viewBox="0 0 1 1"): use(xlink:href="assets/icons/sprite.svg#twitter")
        li.Home-item: a(href="https://www.instagram.com/nothaldir/?hl=fr" target="_blank"): svg.icon(viewBox="0 0 1 1"): use(xlink:href="assets/icons/sprite.svg#instagram")
        li.Home-item: a(href="https://www.youtube.com/user/N0Thaldir" target="_blank"): svg.icon(viewBox="0 0 1 1"): use(xlink:href="assets/icons/sprite.svg#youtube")
        li.Home-item: a(href="https://alex-berneau.tumblr.com/" target="_blank"): svg.icon(viewBox="0 0 1 1"): use(xlink:href="assets/icons/sprite.svg#tumblr")
    .Home-next
      a(class="animate-scroll" data-scroll="#about"): i.animated.infinite.material-icons keyboard_arrow_down


  section.Section
    h2.Title#about About me
    .About
      img(src="assets/medias/ABOUT.jpg" alt="Alex Berneau's portrait.").About-img
      .About-text(data-aos="fade-left")
        p Hi, my name is <b>Alex Berneau</b>, welcome here!
        p I'm a <b>fourth year student</b> at <a href="https://www.hetic.net/" target="_blank">HETIC</a>. It's a web school based in Paris, France. There, I'm studying a great many things related to the Internet: <b>business management, digital creation, and internet technologies</b>. As a result, I am quite <b>polyvalent</b>, although my domain of expertise is <b>web development</b>.
        p Most of my skills are front-end development ones, but I like to try other things. I enjoy coding pretty much everything, it really depends on the technologies used.
        p In 2016, I spent three months at <a href="https://www.ohwee.fr/" target="_blank">Ohwee</a> for an internship, and in 2017, three other months at <a href="https://www.waitandsee.fr/">Wait And See</a>. They are both web agencies based in Paris. There, I practiced web development, but also project management, customer relationship management, and even web design.
        p <strong>Right now, I'm looking for a six-month internship from July to December 2018.</strong>

  section.Section
    h2.Title#work My work
    .Work
      figure.Work-item(data-aos="fade-right")
        img(src="assets/medias/sainte_bulle.jpg" alt="La Sainte Bulle").Work-img
        figcaption.Work-caption
          h3.Work-title La Sainte Bulle
          a(href="https://www.youtube.com/channel/UCs0D5B6TSHNfiwdBk43bYrw" target="_blank"): i.material-icons link
      figure.Work-item(data-aos="fade-left")
        img(src="assets/medias/vanilla_flavors.jpg" alt="Vanilla Flavors's website").Work-img
        figcaption.Work-caption
          h3.Work-title Vanilla Flavors
          a(href="https://vanillaflavors.fyi/" target="_blank"): i.material-icons link
      figure.Work-item(data-aos="fade-right")
        img(src="assets/medias/leko.jpg" alt="LekoLabs's website").Work-img
        figcaption.Work-caption
          h3.Work-title Leko
          a(href="http://www.lekolabs.com/" target="_blank"): i.material-icons link
      figure.Work-item(data-aos="fade-left")
        img(src="assets/medias/kimovie.jpg" alt="Kimovie's website").Work-img
        figcaption.Work-caption
          h3.Work-title Kimovie
          a(href="http://www.kimovie.fr/" target="_blank"): i.material-icons link
      figure.Work-item(data-aos="fade-right")
        img(src="assets/medias/wasa_cli.jpg" alt="WASA CLI's NPM page").Work-img
        figcaption.Work-caption
          h3.Work-title WASA CLI
          a(href="https://www.npmjs.com/package/@waitandsee/wasa-cli" target="_blank"): i.material-icons link
      figure.Work-item(data-aos="fade-left")
        img(src="assets/medias/wasa_boilerplate.jpg" alt="WASA Boilerplate's Github page").Work-img
        figcaption.Work-caption
          h3.Work-title WASA Boilerplate
          a(href="https://github.com/waitandseeagency/wasa-boilerplate" target="_blank"): i.material-icons link

  section.Section
    h2.Title#contact Contact
    .Contact
      i.material-icons.Contact-icon email
      p.Contact-message Want to get in touch with me ? Feel free to contact me through any social network or by email at <br><a href="mailto:alex.berneau@outlook.com">alex.berneau@outlook.com</a>.

  a.Shortcut(data-scroll="#home").animate-scroll
    i.material-icons.Hamburger-icon arrow_upward
